<app-auth-content>
    <div class="app-title">
        <div>
            <h1><i class="fa fa-edit"></i> Form Components</h1>
            <p>Bootstrap default form components</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item"><a href="#">Form Components</a></li>
        </ul>
    </div>
    <div class="row" id="sandbox-container">
        <div class="col-md-12">
            <div class="tile">
                <form (submit)="onSubmit()" [noValidate]="false">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-form-label" for="budgetno">รหัสกิจกรรม</label>
                                <input class="form-control" id="budgetno" [(ngModel)]="model.budgetno" name="budgetno"
                                    type="text">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="name">ชื่อ</label>
                                <input class="form-control" id="name" [(ngModel)]="model.name" name="name" type="text">
                            </div>
                            <div class="form-group">
                                <label for="exampleSelect1">เลือกประเภทงบ</label>
                                <select class="form-control" id="exampleSelect1" [(ngModel)]="model.type" name="type"
                                    required>
                                    <option *ngFor="let item of ListTopic" [ngValue]="item.id">{{ item.name }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="balance">งบประมาณ</label>
                                <input class="form-control" id="balance" [(ngModel)]="model.balance" name="balance"
                                    type="number">
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-success" value="ตกลง">
                </form>
            </div>
        </div>
    </div>
</app-auth-content>