<app-auth-content>
    <div class="app-title">
        <div>
            <h1><i class="fa fa-tags"></i> รายงาน</h1>
            <p>แบ่งตามรหัสกิจกรรม</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a [routerLink]="['/', AppURL.Index]">แดชบอร์ด</a></li>
            <!-- <li class="breadcrumb-item"><a [routerLink]="['/', AppURL.Activity, Budgetno ]">กิจกรรม</a></li> -->
        </ul>
    </div>
    <div class="tile">
        <div class="col-sm-12">
            <button (click)="ExportTOExcel()" class="btn btn-success">ExportTOExcel</button>
        </div>
        <br>
        <div class="table-responsive" #TABLE #table>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>รหัสกิจกรรม</th>
                        <th>ชื่อกิจกรรม</th>
                        <th>จัดสรร</th>
                        <th>เบิกจ่าย</th>
                        <th>คืนเงิน</th>
                        <th>คงเหลือ</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of ActivityItem; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.activityno }}</td>
                        <td>{{ item.name }}</td>
                        <td>
                            <font color="green"><b>{{ item.income | number : '.2-2' }}</b></font>
                        </td>
                        <td>
                            <font color="red"><b>{{ item.outcome | number : '.2-2' }}</b></font>
                        </td>
                        <td>
                            <font color="blue"><b>{{ item.refund | number : '.2-2' }}</b></font>
                        </td>
                        <td><b>{{ item.balance | number : '.2-2' }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-auth-content>